<h1>Artigos</h1>

<%= link_to "New article", new_article_path %>

<% @articles.each do |article|  %>
	<p>
	<h3><%= article.title %> </h3>
	<%= article.text %> <br>
	<%= link_to "ler mais", article %>
	<%= link_to "Editar", edit_article_path(article.id) %>
	<%= link_to "Deletar", article_path(article.id), method: :delete,
	data: {confirm: 'Tem certeza?'} %>

	</p>
	<br>
<% end %>

