<h1>Artigos</h1>

<h1><%= @article.title  %></h1>
<h3><%= @article.text  %></h3>

<% @article.comments.each do | comment |%>
<p>
	<strong><%= comment.commenter + " diz" %></strong>
	<span><%= comment.body %></span>
</p>

<% end %>

<h2>Adicionar comentário</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>
	<p>
		<%= f.label :commenter %>
		<%= f.text_field :commenter %>
	</p>
	<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>	
	</p>

<% end %>
<%= link_to "voltar", articles_path %>